---
import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'
import { getCollection } from 'astro:content'
import { groupByYear } from 'src/utils'
import { ViewTransitions } from 'astro:transitions'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        list-style-type: none;
        display: flex;
        padding-inline-start: 1.5rem;
        flex-direction: column;
        gap: 1rem;
      }
      ul li {
        list-style-type: disc;
        justify-content: space-between;
      }

      ul li a {
        filter: saturate(0);
      }

      ul li a:hover {
        filter: saturate(1);
      }

      ul li a img {
        border-radius: 5px;
        object-fit: cover;
        height: 150px;
        font-size: 0px;
      }
    </style>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <p>Here's a list of film cameras I’ve used:</p>
      <ul>
        <li>Olympus OM-2SP</li>
        <li>Pentax P30n</li>
        <li>F.E.D. 2</li>
        <li>Kiev 4a</li>
        <li>Minox 35 GT</li>
        <li>Yashica Electro 35 GT</li>
        <li>Olympus XA2</li>
        <li>Olympus XA3</li>
        <li>Canon P</li>
        <li>Olympus Mju I</li>
        <li>Rollei 35TE</li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
