---
import Layout from '../layouts/About.astro'
---

<Layout title="About me" description="Lorem ipsum dolor sit amet">
  <p>Hi, I’m Cameron.</p>

  <p>I like making things, creative coding, film photography, and coffee.</p>

  <p>I live in London with my wife and two cats.</p>
</Layout>
